* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container {
    min-height: fit-content;
    width: 100vw;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h2 {
    font-size: 2.5rem;
    -webkit-text-stroke-width: 2px;
    letter-spacing: 4px;
    -webkit-background-clip: text;
    position: relative;
    margin-bottom: 1em;
}

.service h2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
}

.service h2 span {
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #72e2ae;
    animation: anim 5s linear infinite;
}

@keyframes anim {
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: 88%;
    }
}

.card {
    background-color: transparent;
    margin: 1.5%;
    text-align: center;
    height: 250px;
    width: 250px;
    border: 0.2px solid #ffffff47;
    box-shadow: #9c9c9c40 5px 5px 25px 0px;
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

.card img {
    color: #72e2ae;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card:hover {
    background: linear-gradient(135deg,#cc622030,#e291170b,#cc622030);
    transform: translateY(-10px) !important;
}
.networkingClass{
    background: url("../assets/network.svg") no-repeat center;
    -webkit-mask-image: url("../assets/network.svg");
    mask-image: url("../assets/network.svg");
    background-color: orange;
    height: 50px;
    width: 50px;
}